<%= flash[:message] %>
<h1> Welcome to your recipe book! </h1> <br>

<ul>
<% @recipes.ordered_alphabetically.each do |recipe| %>
 <li> <%= link_to(recipe.title, recipe_path(recipe)) %> </li> <br>
    
<% end %>
</ul>