<h1> Add a review to a recipe! </h1>

<%= render "form", review: @review %>

<% if @review.errors.any? %>
<div id = "error_explanation">
    <h2> The <%= pluralize(@review.errors.count, "error") %> 
        below is why the review could not be saved: </h2>
    
    <ul>
    <% @review.errors.full_messages.each do |error| %>
    <li><%= error %> </li>
    <% end %>
    </ul>
    </div>
<% end %>